src/main/webapp/WEB-INF/wsdl/country_name_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mil:nga:country_name:v2"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="mil:nga:country_name:v2" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:nga="http://www.geoint.nga.ic.gov" 
	name="CountryNameService">
  <wsdl:documentation>
    <tns:nga_resource>./nga_resource.xml</tns:nga_resource>
    <tns:description_document>./description_document.html</tns:description_document>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="mil:nga:country_name:v2" schemaLocation="country_name_service-v2.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCountryNamesMsg">
    <wsdl:part name="parameters" element="tns:GetCountryNames"/>
  </wsdl:message>
  <wsdl:message name="getCountryNamesResponseMsg">
    <wsdl:part name="result" element="tns:GetCountryNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="getParameterInfoMsg">
    <wsdl:part name="parameters" element="tns:GetParameterInfo"/>
  </wsdl:message>
  <wsdl:message name="getParameterInfoResponseMsg">
    <wsdl:part name="result" element="tns:GetParameterInfoResponse"/>
  </wsdl:message>
  <wsdl:portType name="CountryName">
    <wsdl:operation name="getCountryNames">
      <wsdl:input message="tns:getCountryNamesMsg"/>
      <wsdl:output message="tns:getCountryNamesResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="getParameterInfo">
      <wsdl:input message="tns:getParameterInfoMsg"/>
      <wsdl:output message="tns:getParameterInfoResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountryNameServicePortBinding" type="tns:CountryName">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getCountryNames">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParameterInfo">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="country_name_service">
    <wsdl:port name="CountryNameServicePort" binding="tns:CountryNameServicePortBinding">
      <soap:address location="PUT ACTUAL ADDRESS HERE" 
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
